* {
    box-sizing: border-box;
}

body {
    background: url("../background2.jpg");
    color: blueviolet;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    padding: 20px;
    color: blueviolet;
}

h3 {
    background: blueviolet;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 200px;
    top: 275px;
}

.nav {
    background-color: black;
    border-bottom: 4px solid gray;
    border-top: 4px solid gray;
}

p {
    padding-top: 40px;
}

img {
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    position: relative;
}

span {
    display: block;
    text-align: center;
    background-color: grey;
    color: white;
    padding-top: 20px;
    border-top: 5px solid blueviolet;
}

#photo {
    display: block;
    float: left;
    width: max-content;
    padding-right: 50px;
}

#submit {
    background: blueviolet;
    color: black;
}

a {
    text-decoration: none;
    color: magenta;
}

.wrapper h3 {
    position: absolute;
    padding: 15px;
    margin-top: 10px;
    border-bottom: 20px;
    left: 20px;
    width: 300px;
}

.portfolio {
    left: 5px;
}

#links {
    text-align: center;
}

#centerLink {
    border-left: 2px solid magenta;
    border-right: 2px solid magenta;
    padding-left: 10px;
    padding-right: 10px;
}

#iconlinkedin {
    height: 152px;
    width: 495px;
    margin-left: 12px;
}

#iconemail {
    height: 303px;
    width: 383px;
    margin-left: 70px;
}

#icongithub {
    height: 205px;
    width: 500px;
    margin-left: 12px;
}

h6 {
    text-align: center;
}

.img-fluid {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.img-fluid::after {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.img-fluid:hover {
    transform: scale(1.1, 1.1);
}